body {
    background-color: gray;
    height: 100vh;
}

.App {
    height: 95vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 100%;
}

.App * {
    margin: 3px 10px;
    box-sizing: border-box;
}

.ImportBar {
    display: grid;
    grid-template-columns: 1fr auto;
}

.ImportBar * {
    margin: 0px;
    box-sizing: border-box;
}