body {
    background-color: gray;
    height: 100vh;
}

.App {
    height: 99vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.App * {
    margin: 3px 10px;
    box-sizing: border-box;
}

.TopLeft {
    display: grid;
    grid-template-columns: auto 1fr;
}

.TopLeft * {
    margin: 0px;
}

.ImportBar {
    display: grid;
    grid-template-columns: 1fr auto;
}

.ImportBar * {
    /* max-width: 42vw; */
    margin: 0px;
    box-sizing: border-box;
}

textarea,
input,
select {
    background-color: #0E2039;
    color: white;
}

.fa-github {
    color: rgb(230, 230, 230);
    font-size: xx-large;
    margin: 3px;
}